# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup
*.tfplan
**/terraform-provider-*
**/*.exe

# Java / Maven
target/
*.log
*.class

# IDE / Editor
.idea/
.vscode/
*.iml
*.classpath
*.project
*.settings/

# OS / system
.DS_Store
Thumbs.db
*.swp

# GitHub Actions temp files
.github/workflows/*.tmp

# Optional local configs
.env
*.env
